/*

font-family: 'Oswald', sans-serif;
font-family: 'Work Sans', sans-serif;

bleu : #3a61ef;
bleu foncé : #253879;
bleu clair : #dfe4f7;
blanc cassé : #eafbf0;
blanc : #ffffff;
rouge : #d9022f;
vert : #1e7062;
noir : #0d0f0f;

*/

body {
    width:100vw;
    min-height:100vh;
    padding: 0;
    margin: 0;
    background-color: #eafbf0;
    color:#0d0f0f;
    font-family: 'Work Sans', sans-serif;
    display: grid;
    grid-template-rows: 14vh 1fr 5vh;
}

body > header {
    background-color: #ffffff;
    color: #253879;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > header > h1 {
    font-size: 3em;
}

body > main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

body > main > section {
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    background-color: #ffffff;
}

body > main > section:first-of-type, body > main > section:nth-of-type(2) {
    border-right : 1px solid #253879;
}

body > main section:first-of-type form {
    padding-top: 2em;
}

body > main section:first-of-type form > fieldset:not(:last-of-type) {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

fieldset {
    border: none;
    
}

body > main section:first-of-type form > fieldset input[type='email'],
body > main section:first-of-type form > fieldset input[type='text'],
body > main section:first-of-type form > fieldset input[type='password'] {
    border: none;
    background-color: #dfe4f7;
    height: 2.5em;
}

#btn1, #btn2, #btn3  {
    background-color: #3a61ef;
    color: #eafbf0;
    text-transform: uppercase;
    border:none;
    line-height: 3em;
    padding-left:2em;
    padding-right: 2em;
    margin-top: 3em;
}

body > main > section > header {
    background-color: #3a61ef;
    color : #eafbf0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > main > section > header h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.0em;
    text-transform: uppercase;
}

body > main > section:nth-of-type(2) > main {
    display: grid;
    grid-template-rows: 0.1fr 0.3fr;
}

body > main > section:nth-of-type(2) > main > form {
    display: grid;
    grid-template-rows: 1fr 0.1fr;
}

body > main > section:nth-of-type(2) > main {
    padding: 1em;
}

body > main > section:nth-of-type(2) > main > form div:first-of-type,  body > main > section:nth-of-type(2) > main > form div:nth-of-type(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
}

body > main > section:nth-of-type(2) > main > form div fieldset:first-of-type{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

body > main > section:nth-of-type(2) > main > form div fieldset:nth-of-type(2){
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

body > main > section:nth-of-type(2) > main > form div fieldset:nth-of-type(3){
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

body > main > section:nth-of-type(2) > main > form div fieldset:nth-of-type(4){
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

body > main > section:nth-of-type(2) > main > form div fieldset:nth-of-type(5){
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

body > main > section:nth-of-type(2) > main > form div fieldset:last-of-type{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

body > main > section:last-of-type > main > form {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 2em;
}

body > footer {
    background-color: #253879;
}


p.error {
    color:#d9022f;
}
body > main section:first-of-type form > fieldset input[type='email'].error,
body > main section:first-of-type form > fieldset input[type='text'].error,
body > main section:first-of-type form > fieldset input[type='password'].error{
    border:solid 1px #d9022f;
}